* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  gap: 70px;

  background-image: url(./AD.jpeg);
  background-size: cover;
}
.boards {
  display: flex;
  gap: 16px;
  padding: 120px 0px;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 8px;

  margin-top: 30px;
  border-radius: 10px;
  background: inherit;
  box-shadow: 2px -4px 30px 3px rgba(25, 27, 17, 0.5);

  color: white;
}
.card {
  display: flex;

  gap: 12px;
  border-radius: 4px;
  padding: 8px;
  background: inherit;
  box-shadow: 2px -4px 30px 3px rgba(25, 27, 17, 0.5);
  background-color: rgba(94, 89, 89, 0.383);
  inline-size: 280px;
  overflow-wrap: break-word;
}
.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
  color: aqua;
}
.add-btn {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  width: 280px;
  height: 30px;
  background-image: url(./ball.jpeg);
  background-size: cover;
  color: white;
  gap: 5px;
}

#modal {
  display: none;
  flex-direction: column;
  padding: 16px;
  width: 400px;
  background-image: url(./ball.jpeg);
  border-radius: 8px;
  gap: 16px;
  color: white;
  position: absolute;
  right: 30%;
  top: 40%;
}

.task {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  width: 280px;

  background-color: aliceblue;
}
h4 {
  /* color: black; */
  font-weight: bold;
}
p {
  /* color: black; */
}

.newTask {
  padding: 8px;
  border-radius: 4px;
  cursor: grab;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.any {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  gap: 12px;
}

.endDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.middleDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 180px;
}

.priority {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 12px;
  color: white;
}
.wrap {
  width: 100px;
  background-color: aqua;
}
