* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  gap: 70px;

  background-image: url(./AD.jpeg);
  background-size: cover;
}
.boards {
  display: flex;
  gap: 16px;
  padding: 120px 0px;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 8px;
  background-color: #ebecf0;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(54, 54, 69);
  color: white;
}
.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}
.add-btn {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  width: 280px;
  height: 30px;
  background-image: url(./ball.jpeg);
  background-size: cover;
  color: white;
  gap: 5px;
}

#modal {
  display: none;
  flex-direction: column;
  padding: 16px;
  width: 400px;
  background-image: url(./ball.jpeg);
  border-radius: 8px;
  gap: 16px;
  color: white;
  height: fit-content;
}

.task {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  background-color: aliceblue;
}
